.section {
  padding: 50px 50px;
  .inerbox {
    .subheadig {
      h4 {
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 12px;
        line-height: 1.16667em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin: 25px 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
      }
    }
    .fourbox {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 100px;
      margin: 0 10px;
      margin-top: 50px;
      .box {
        position: relative;
        h6 {
          position: relative;
          font-family: "DM Sans", sans-serif;
          font-size: 12px;
        }
        h3 {
          position: relative;
          font-family: "DM Sans", sans-serif;
          color: #000;
          font-size: 22px;
          line-height: 1.22727em;
          margin: 15px 0px;
        }
        p {
          font-family: "Nunito Sans", sans-serif;
          font-size: 16px;
          line-height: 1.6875em;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }
}
