.weather-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    180deg,
    #2996d7 0%,
    #41c7ed 77.01%,
    #74cad7 117.79%,
    #cfdd97 172.17%
  );
}

@media (min-width: 768px) {
  .weather-container {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .weather-container {
    width: 100%;
  }
  .forecast {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.left-section,
.right-section {
  flex: 1;
}

.temperature {
  font-size: 3.75rem;
  font-weight: 300;
}

.date {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.time {
  font-size: 1rem;
  margin-top: 0.25rem;
}

.forecast,
.sun-details,
.additional-details {
  display: flex;
  margin-top: 40px;
  gap: 1rem;
  font-size: 0.875rem;
}

.forecast-item,
.sun-detail,
.additional-detail {
  text-align: center;
}

.forecast-item {
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 99.74px;
  height: 181.35px;
  backdrop-filter: blur(1.0323508977890015px);
  background: #ffffff33;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.black-cloud-icon {
  display: flex;
  justify-content: center;
}

.location {
  font-size: 1.5rem;
  font-weight: 300;
}

.quality,
.uv-index {
  font-size: 1.125rem;
}
