.bannerSection {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
  margin-bottom: 30px;

  /* padding: 3rem; */
}

.bannerImageContainer {
  position: absolute;
  inset: 0;
}

.bannerOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* box-shadow: inset 0px 10px 100px 0 rgba(251, 251, 250, 0.5); */
}

.bannerContent {
  height: 100%;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bannerText {
  text-align: center;
  color: white;
  line-height: 1.5;
  max-width: 48rem;
}

.bannerHeading {
  /* font-family: Inter; */
  font-size: 60px;
  font-weight: 700;
  line-height: 80.17px;
  text-align: center;
}

.bannerDescription {
  /* font-family: Inter; */
  font-size: 20px;
  font-weight: 600;
  line-height: 40.06px;
  text-align: center;
}

.bannerDots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin: 0 0.25rem;
  background-color: #f6f4f4;
  cursor: pointer;
}

.activeDot {
  background-color: #000000;
}
