.section {
  padding: 2rem; 
  background: #222f47;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
  flex-direction: row-reverse;
}
.textSection {
  flex: 1;
  max-width: 100%;
}
.subHeading {
  font-size: 10px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 40px;
  position: relative;
  padding-left: 15px;
  font-family: "DM Sans", sans-serif;
  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background: #000;
    left: 0px;
    top: 6px;
  }
}
.heading {
  font-size: 38px;
  line-height: 38px;
  margin-bottom: 15px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1.2px;
  color: #fff;
}
.readMore {
  text-decoration: underline;
  color: #fff;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}
.imageSection {
  flex: 1;
  display: flex;
  justify-content: left;
}
.image {
  max-width: 100%;
  width: 60%;
  height: 50%;
}

.text {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 15px;
}