.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  font-family: "Cinzel", serif;

  font-size: 16px;
  padding: 40px 50px;
  line-height: 1.6875em;
  font-weight: 400;
  .innerbox {
    position: relative;
    display: flex;
    .menulist {
      position: relative;
      .link {
        position: relative;
        padding-left: 10px;
        font-family: "Cinzel", serif;

        font-size: 16px;
        line-height: 1.6875em;
        font-weight: 400;
        margin-top: 7px;
        margin-bottom: 7px;
        a {
          position: relative;
          color: #fff;
        }
      }
      .active {
        position: relative;
        border-left: 2px solid #fff;

        a {
          position: relative;
        }
      }
    }
    .logoimage {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);
      .logo {
        position: relative;
      }
    }
  }
}
