

/* new section  */

.bannerSection {
  background: #fff;
  background-size: contain;
  padding: 130px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff8f2;
  /* margin-top: 20px; */
}

.contentWrapper {
  display: flex;
  /* max-width: 1200px; */
  width: 100%;
}

.imageWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageMask { 
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 600px;
  
}

.imageMask img {
  width: 100%;
  height: auto;
}


.textWrapper {
  flex: 1;
  margin-left: 50px;
}
.textWrapper ul span{
  display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 25px;
}

.textWrapper h2 {
  background-color:#146ef5;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  border-radius: 27px;
  padding: 2px 15px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

.textWrapper h1 {
  font-family: var(--heading-font);
  color:#000 ;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 10px;
}

.textWrapper p {
  margin-bottom: 0px;
  font-size: 17px;
  line-height: 32px;
  padding-right: 40px;
  color: #2f2b44;
}

.textWrapper ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 27px;
}

.textWrapper ul li { 
  color: #000;
  font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.textWrapper ul span img { 
  background-color: #f0f4fd;
  border-radius: 8px;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 64px;
  height: 64px;
  margin-top: 5px;
}

 

.exploreButton {
  margin-top: 23px;
  background: #146ef5; 
  color: white;
  text-transform: capitalize; 
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 19px 35px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.exploreButton span {
  margin-right: 10px;
}

 

