.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.offer {
  display: flex;
  gap: 20px;
}

.box {
  margin-top: 90px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
}

.boxTitle {
  font-size: 1.2em;
  margin: 10px 0;
}

.boxDescription {
  font-size: 1em;
  color: #555;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}
