.features-container {
  height: 852px;
  display: flex;
  align-items: flex-start;
  padding: 70px;
  /* background-color: white; */
  gap: 40px;
  /* margin: 0 auto; */
}

.images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 40px;
  /* position: relative; */
}

.feature-image1,
.feature-image2,
.feature-image3 { 
  position: absolute;
}

.feature-image1 {
  width: 376px;
  height: 300px;
  object-fit: cover;
  z-index: 3;
}

.feature-image2 {
  width: 376px;
  height: 300px;
  object-fit: cover;
  z-index: 9;
  margin-top: 120px;
  left: 220px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.feature-image3 {
  width: 376px;
  height: 300px;
  object-fit: cover;
  z-index: 1;
  margin-top: 360px;
  left: 140px;
}

.feature-text {
  /* width: 100%; */
  margin-top: 100px;
  margin-left: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-item h3 {
  font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 50px;
}

.feature-item p {
  font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #333;
}

.blurbackground {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a0fdd9;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
}

@media (max-width: 768px) {
  .feature-image1 {
    width: 204px;
    height: 196px;
  }
  .feature-image2 {
    width: 204px;
    height: 196px;
    left: 140px;
  }
  .feature-image3 {
    width: 204px;
    height: 196px;
    left: 70px;
    margin-top: 250px;
  }
  .feature-text {
    margin-left: 5px;
    margin-top: 480px;
  }
  .features-container {
    display: block;
    height: auto;
    padding: 30px;
  }
}
