.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  margin-bottom: 100px;
  align-items: flex-end;
}

.text {
  position: relative;
  max-width: 700px;
  min-height: 700px;
  padding: 30px;
  background-color: #fdfaf6;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-top: 129px;
  padding-bottom: 130px;
  flex: 1;
  /* right: -226px; */
  bottom: 0;
  margin-bottom: -50px;
  margin-right: -226px;
}

.text h1 {
  /* font-family: "Inter"; */
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.text h2 {
  /* font-family: "Inter"; */
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 50px;
}

.text p {
  /* font-family: "Inter"; */
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.image img {
  max-width: 800px;
  height: 900px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .image img {
    max-width: 90vw;
    height: 1000px;
  }
  .text {
    left: 45%;
    min-width: 90vw;
  }
}
