@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  cursor: none;
}

.custom-cursor {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.custom-cursor-border {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid white;
  position: fixed;
  pointer-events: none;
  z-index: 9998;
  transition: all 0.2s ease-out;
}

html {
  scroll-behavior: smooth;
}
