.cardbox {
  position: relative;
  .image {
    position: relative;
    margin-bottom: 30px;
    height: 235px;
    width: 100%;
  }
  .title {
    position: relative;
    font-size: 18px;
    line-height: 1.27778em;
    font-family: "Cinzel", serif;

    color: #000;
    word-wrap: break-word;
  }
  .datecat {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 18px;
    row-gap: 5px;
    span {
      position: relative;  
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap; 
      font-size: 12px;
  color: #000;
  line-height: 1.5;
  font-family: "Cinzel", serif;

      
    }
  }
}

@media (max-width:768px){
  .cardbox {
    position: relative;
    .image {
      position: relative;
      margin-bottom: 30px;
      height: 150px;
      width: 100%;
    }
}
}