.social-media-updates-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.social-media-updates {
  text-align: center;
  padding: 40px;
  /* height: 100vh; */
}

.social-media-updates-title {
  /* font-family: Inter; */
  font-weight: 600;
    font-size: 40px;
    line-height: 50px;
  text-align: left;
}

.updates-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.update-card {

  border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 20px;
    transition: border-color .3s;
    /* background-color: #fff; */
    gap: 10px;
    cursor: pointer;
}
.update-card span h4 {
  margin-top: 25px;
  background-color: #146ef5;
    color: white;
    border-radius: 5px;
    padding: 9px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
}

.update-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.update-card h3 { 
  margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #04030b;
  margin-top: 15px;
}

.update-card p {
  /* font-family: Inter; */
  font-size: 18px;
  line-height: 32px;
  color: #2f2b44;
}

.navigation {
  margin-top: 20px;
}

.navigation button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  margin: 0 10px;
}
.update-card:hover {
  border-color: #146ef5;
  cursor: pointer;
}

.next-arrow,
.prev-arrow {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.slick-slider {
  position: relative;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: -50px;
  transform: translateY(0);
}

.slick-prev {
  color: black;
  left: 10px;
}

.slick-next {
  right: 10px;
}

.blurbackground2 {
  position: absolute;
    top: auto;
    width: 50%;
    height: 100%;
    background-color: #e8f8f2;
    border-radius: 50%;
    filter: blur(28px);
    z-index: -1;
    bottom: -193px;
}

@media (max-width: 768px) {
  .social-media-updates {
    padding: 15px;
    height: auto;
  }
  .update-card {
    height: auto;
    padding: 10px;
  }
}
