.section {
  background: #fff;

  padding: 130px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
      display: flex;
      max-width: 1366px;
      width: 100%;
      gap: 20px;
      padding: 0px 30px;
}

.textWrapper {
  flex: 1;
}

.textWrapper h4 {
  background-color: #146ef5;
  color: #fff; 
  text-transform: capitalize;
  border-radius: 27px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  display: block; 
  margin-bottom: 15px;
}

/* .textWrapper h1 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 20px;
} */
 .imagesbanner img{
  height: 100px;
 }
.textWrapper h1 {
  font-size: 46px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #04030b;
}

.textWrapper p {
  font-size: 17px;
  line-height: 32px;
  color: #2f2b44;
  margin-bottom: 20px;
}
.textWrapper ul span{
  display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 7px;
}
.imaggg {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}
.features {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.aboutimage2 {
  height: 100%;
  width: calc(100% - 60px);
  object-fit: cover;
  margin-right: 0;
  margin-left: auto;
}
.features li {
  font-size: 1rem;
  color: #000;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.features li::before {
  content: "➖";
  color: #ff9e85;
  margin-right: 10px;
}

.propertyDetails {
  display: flex;
  gap: 20px;
}

.propertyDetails div {
  text-align: center;
}

.propertyDetails span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.propertyDetails p {
  font-size: 0.9rem;
  color: #5c5c5c;
}

.imageWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainImage {
  flex: 2;
}

.gridImages {
  flex: 1;
  display: flex;
  gap: 10px;
} 
