.bannerContainer {
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 2rem 0;
    height: 0vh;
    
  }
  
  .scrollSection {
    position: relative;
    margin-bottom: 2rem;
    text-align: center; /* Centered text */
    height: 500px;
  }
  
  .lineTextScroll {
    height: 2px;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 50%;
  
    transform: translateY(-50%);
  }
  
  .scrollText {
    font-size: 3rem; /* Adjusted for better visibility */
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; /* Changed to white for better contrast */
    white-space: nowrap;
    display: inline-block;
    padding: 0 100%;
    
    transition: transform 0.1s ease-out;
  }
  
  .first {
    margin-bottom: 1rem;
  }
  
  .second {
    margin-top: 3rem;
  }
  
  @media (max-width: 768px) {
    .scrollText {
      font-size: 2rem;
    }
    
    .second {
      margin-top: 2rem;
    }
  }

